---
import Layout from "../layouts/Layout.astro";

const pageTitle = "About Me ...";
const titleStyle = "text-purple-400 text-2xl font-bold";

const identify = {
  firstName: "Tihii",
  country: "Viet Nam",
  occupation: "Developer",
  hobbies: ["listenning music", "ride and chill", "coffee and smoke"],
};

const skills = ["HTML", "JS", "Flutter", "Astro", "Dart"];

const happy = true;
const finished = false;
const goal = 3;
---

<Layout title={pageTitle} titleStyle={titleStyle}>
  <ul>
    <li>My name is: {identify.firstName}.</li>
    <li>
      I live in {identify.country} and I work as a {identify.occupation}.
    </li>
    <ul class="list-inside list-disc">
      My hobbies are:

      {
        identify.hobbies.length >= 2 &&
          identify.hobbies.map((item) => <li>{item}</li>)
      }
    </ul>
    <ul class="list-inside list-disc">
      My dev skills:
      {skills.map((item) => <li class="text-green-400 font-bold">{item}</li>)}
    </ul>
  </ul>
  {happy && <p>I very interested when learning Astro!</p>}
  {
    finished ? (
      <p>I have finished this tutorial.</p>
    ) : (
      <p>I have to keep learning to improve my Astro skill.</p>
    )
  }
  {
    goal == 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not in 3 days.</p>
    )
  }
</Layout>
