---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} titleStyle="text-xl font-bold">
  <span>Published on: {frontmatter.pubDate.slice(0, 10)}</span>
  <p class="italic text-md">Written by: {frontmatter.author}</p>
  <p class="italic">Description: {frontmatter.description}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <p>
    Tags: {
      frontmatter.tags.map((tag: any) => (
        <a class="text-green-400" href={`/tags/${tag}`}>{`#${tag} `}</a>
      ))
    }
  </p>
  <slot />
</Layout>
